.profile {
  max-width: 256px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 9px 3px teal;
}

.description {
  text-align: center;
}

.avatar {
  border-radius: 50%;
  background-color: teal;
}

.username {
  display: block;
  font-size: large;
  font-weight: 700;
  color: tomato;
}

.tag {
  font-size: medium;
  color: tomato;
}

.location {
  font-size: medium;
  color: tomato;
}

.stats {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  background-color: yellowgreen;
  height: 60px;
}

.label {
  display: block;
  color: white;
}

.quantity {
  display: block;
  font-size: medium;
  font-weight: 700;
  color: blue;
}
