.item {
  display: flex;
  height: 50px;
  align-items: center;
  box-shadow: 3px 3px 9px 3px blueviolet;
  margin-right: 15px;
  padding: 0 10px;
}

.status {
  display: inline-block;
  margin-right: 3px;
  margin-left: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.true {
  composes: status;
  background-color: green;
}

.false {
  composes: status;
  background-color: red;
}

.avatar {
  margin-right: 10px;
  width: 48px;
}

.name {
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
